{% extends "layout.html" %}
{% block body %}

<div class="col-md-8">

    <h3>{{ categoryItem.name }}</h3>

    <p>Description: {{ categoryItem.description }}</p>

    {% if 'username' in session %}

        {% if categoryItem.user_id == user.id %}
        <p>
            <a href="{{ url_for('editCategoryItem', categoryitem_name=categoryItem.name) }}">Edit</a>
            |
            <a href="{{ url_for('deleteCategoryItem', categoryitem_name=categoryItem.name) }}">Delete</a>
        </p>
        {% endif %}

    {% endif %}

</div>

{% endblock %}